<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 page not found</title>
    <link rel="stylesheet" href="style.css">
</head>
<style>
    @media screen and (max-width:768px) {
        h1 {
            font-size: 3rem !important;
        }
    }

    @media screen and (max-width:576px) {
        h1 {
            font-size: 2rem !important;
        }
    }

    h1 {
        color: white;
        text-align: center;
        font-size: 60px;
        background-position: top left;
        background-image: linear-gradient(to right, #000, #333fff);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    svg {
        width: 100% !important;
    }

    body {
        /* background-color: cornflowerblue; */
    }

    :root {
        --dur: 1.4s
    }

    #girl {
        animation: girl var(--dur) linear infinite 1s alternate;
    }

    #hair {
        animation: hair var(--dur) linear infinite alternate;
    }

    .num {
        animation: num var(--dur) linear infinite alternate;
    }

    #first4 {
        animation-delay: .5s;
    }

    #second4 {
        animation-delay: .6s;
    }

    .eye #Vector_4 {
        animation: close var(--dur) linear infinite;
    }

    @keyframes close {
        from {
            height: 10px !important;
            width: 0px !important;
        }
        to {
            /* transform: skew(5deg); */
            height: 10px !important
        }
    }

    @keyframes num {
        from {
            transform: translateY(0%)
        }
        to {
            transform: translateY(20px)
        }
    }

    @keyframes hair {
        from {
            transform: translateY(0%)
        }
        to {
            transform: translateY(6px)
        }
    }

    @keyframes girl {
        from {
            transform: translateY(0%)
        }
        to {
            transform: translateY(20px)
        }
    }
</style>

<body>
<div class="svg">
    <svg width="737" height="473" viewBox="0 0 737 473" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g id="404 page" filter="url(#filter0_d)">
            <path id="first4" class="num" d="M222.017 345.044H197.906V261.759C197.906 257.336 196.408 253.093 193.742 249.965C191.075 246.837 187.458 245.08 183.687 245.08H178.038C176.17 245.08 174.321 245.512 172.596 246.35C170.871 247.188 169.304 248.417 167.983 249.965C166.663 251.514 165.616 253.353 164.901 255.377C164.186 257.4 163.819 259.569 163.819 261.759V345.044H95.8102C94.4112 345.044 93.0358 344.62 91.8177 343.812C90.5995 343.005 89.5799 341.842 88.8578 340.437C88.1356 339.031 87.7354 337.43 87.6961 335.79C87.6567 334.149 87.9795 332.525 88.6331 331.074L160.612 171.269C161.51 169.277 162.054 167.092 162.211 164.846C162.369 162.6 162.137 160.34 161.53 158.203C160.922 156.065 159.952 154.094 158.677 152.408C157.402 150.723 155.849 149.358 154.112 148.395L149.863 146.042C146.563 144.214 142.791 143.944 139.327 145.288C135.863 146.632 132.972 149.486 131.251 153.261L43.463 345.899C41.9681 349.179 41.186 352.841 41.186 356.561C41.186 359.531 41.6847 362.472 42.6537 365.216C43.6226 367.96 45.0429 370.453 46.8333 372.553C48.6236 374.653 50.7491 376.319 53.0884 377.456C55.4277 378.593 57.9348 379.178 60.4668 379.178H163.819V431.841C163.819 434.467 164.26 437.067 165.116 439.492C165.973 441.918 167.228 444.122 168.811 445.978C170.393 447.835 172.272 449.307 174.34 450.312C176.408 451.317 178.624 451.834 180.863 451.834H180.863C183.101 451.834 185.317 451.317 187.385 450.312C189.453 449.307 191.332 447.835 192.914 445.978C194.497 444.122 195.752 441.918 196.609 439.492C197.465 437.067 197.906 434.467 197.906 431.841V379.178H222.017C225.876 379.178 229.577 377.379 232.305 374.179C235.034 370.978 236.567 366.637 236.567 362.111C236.567 357.584 235.034 353.243 232.305 350.043C229.577 346.842 225.876 345.044 222.017 345.044Z" fill="#6C63FF"/>
            <path id="second4" class="num" d="M640.736 344.717H616.625V261.433C616.625 257.009 615.127 252.767 612.46 249.639C609.794 246.511 606.177 244.754 602.406 244.754H596.756C594.889 244.754 593.04 245.185 591.315 246.023C589.59 246.862 588.022 248.09 586.702 249.639C585.382 251.188 584.334 253.027 583.62 255.05C582.905 257.074 582.537 259.243 582.537 261.433V344.717H514.529C513.13 344.717 511.755 344.293 510.536 343.486C509.318 342.679 508.299 341.516 507.577 340.11C506.854 338.705 506.454 337.104 506.415 335.464C506.375 333.823 506.698 332.198 507.352 330.747L579.331 170.943C580.229 168.95 580.773 166.765 580.93 164.52C581.088 162.274 580.856 160.014 580.248 157.876C579.641 155.739 578.67 153.767 577.395 152.082C576.121 150.396 574.568 149.031 572.831 148.069L568.582 145.715C565.282 143.888 561.51 143.618 558.046 144.961C554.582 146.305 551.69 149.16 549.97 152.934L462.182 345.572C460.687 348.853 459.905 352.515 459.905 356.235C459.905 362.233 461.936 367.985 465.552 372.227C469.168 376.468 474.072 378.851 479.186 378.851H582.537V431.515C582.537 436.817 584.333 441.902 587.529 445.652C590.726 449.401 595.061 451.508 599.581 451.508C604.102 451.508 608.437 449.401 611.633 445.652C614.829 441.902 616.625 436.817 616.625 431.515V378.851H640.736C644.595 378.851 648.296 377.053 651.024 373.852C653.753 370.652 655.286 366.311 655.286 361.784C655.286 357.258 653.753 352.917 651.024 349.716C648.296 346.515 644.595 344.717 640.736 344.717Z" fill="#6C63FF"/>
            <g id="baby-face">
                <path id="Vector" d="M370.845 327.621C370.845 335.532 361.427 341.947 349.811 341.947C338.194 341.947 328.776 335.532 328.776 327.621C328.776 320.768 335.84 315.037 345.278 313.636C346.781 313.404 348.295 313.29 349.811 313.294C352.35 313.285 354.883 313.605 357.363 314.249C365.247 316.311 370.845 321.524 370.845 327.621Z" fill="#2F2E41"/>
                <path id="Vector_3" d="M357.614 315.443C357.619 316.444 357.299 317.41 356.718 318.143C356.444 318.494 356.11 318.775 355.739 318.968C355.368 319.161 354.966 319.261 354.56 319.264H347.775C346.939 319.229 346.148 318.808 345.576 318.092C345.004 317.377 344.697 316.424 344.722 315.443C344.718 314.667 344.912 313.908 345.278 313.261C346.78 313.013 348.294 312.891 349.811 312.896C352.353 312.886 354.888 313.228 357.362 313.915C357.53 314.4 357.615 314.92 357.614 315.443Z" fill="white"/>
                <g id="left-eye" class="eye">
                    <path id="Vector_4" d="M317.388 298.587C323.981 298.587 329.327 289.675 329.327 278.682C329.327 267.688 323.981 258.776 317.388 258.776C310.794 258.776 305.449 267.688 305.449 278.682C305.449 289.675 310.794 298.587 317.388 298.587Z" fill="#2F2E41"/>

                    <path id="Vector_6" d="M319.999 273.108C321.854 273.108 323.357 271.147 323.357 268.729C323.357 266.31 321.854 264.349 319.999 264.349C318.145 264.349 316.642 266.31 316.642 268.729C316.642 271.147 318.145 273.108 319.999 273.108Z" fill="white"/>
                </g>
                <g id="right-eye" class="eye">
                    <path id="Vector_7" d="M381.185 299.384C387.572 299.384 392.75 290.293 392.75 279.08C392.75 267.866 387.572 258.776 381.185 258.776C374.797 258.776 369.619 267.866 369.619 279.08C369.619 290.293 374.797 299.384 381.185 299.384Z" fill="#2F2E41"/>

                    <path id="Vector_9" d="M384.169 273.108C386.024 273.108 387.527 271.147 387.527 268.729C387.527 266.31 386.024 264.349 384.169 264.349C382.315 264.349 380.812 266.31 380.812 268.729C380.812 271.147 382.315 273.108 384.169 273.108Z" fill="white"/>
                </g>
                <path id="Vector_10" opacity="0.3" d="M387.9 316.104C389.755 316.104 391.258 314.144 391.258 311.725C391.258 309.307 389.755 307.346 387.9 307.346C386.046 307.346 384.542 309.307 384.542 311.725C384.542 314.144 386.046 316.104 387.9 316.104Z" fill="#6C63FF"/>
                <path id="Vector_11" opacity="0.3" d="M303.584 316.104C305.438 316.104 306.942 314.144 306.942 311.725C306.942 309.307 305.438 307.346 303.584 307.346C301.73 307.346 300.226 309.307 300.226 311.725C300.226 314.144 301.73 316.104 303.584 316.104Z" fill="#6C63FF"/>
            </g>
            <path id="zero" class="num" d="M348.18 158.45C289.864 158.45 247.995 202.337 247.995 304.738C247.995 420.794 289.864 451.514 348.18 451.514C406.495 451.514 450.858 417.868 450.858 304.738C450.858 183.807 406.495 158.45 348.18 158.45ZM348.563 412.992C308.172 412.992 287.071 385.196 287.071 304.813C287.071 233.888 309.036 196.485 349.427 196.485C389.817 196.485 411.782 221.053 411.782 304.813C411.782 383.169 388.953 412.992 348.563 412.992Z" fill="#2F2E41"/>
            <g id="girl">
                <path id="Vector_12" d="M381.083 169.69C380.556 172.232 378.282 174.267 375.764 175.689C370.47 178.68 363.941 179.572 357.607 179.871C355.991 179.987 354.37 179.951 352.759 179.766C349.638 179.412 346.709 177.833 344.447 175.284C344.286 175.161 344.153 174.991 344.063 174.792C343.972 174.592 343.927 174.369 343.929 174.143C343.932 173.917 343.984 173.695 344.08 173.499C344.176 173.303 344.312 173.138 344.477 173.021C347.849 168.676 353.475 166.012 359.144 164.094C363.442 162.639 370.937 158.872 375.625 159.38C380.166 159.873 381.749 166.481 381.083 169.69Z" fill="#3F3D56"/>
                <path id="Vector_13" opacity="0.1" d="M381.083 169.69C380.556 172.232 378.282 174.267 375.764 175.689C370.47 178.68 363.941 179.572 357.607 179.871C355.991 179.987 354.37 179.951 352.759 179.766C349.638 179.412 346.709 177.833 344.447 175.284C344.286 175.161 344.153 174.991 344.063 174.792C343.972 174.592 343.927 174.369 343.929 174.143C343.932 173.917 343.984 173.695 344.08 173.499C344.176 173.303 344.312 173.138 344.477 173.021C347.849 168.676 353.475 166.012 359.144 164.094C363.442 162.639 370.937 158.872 375.625 159.38C380.166 159.873 381.749 166.481 381.083 169.69Z" fill="black"/>
                <path id="Vector_14" d="M400.777 173.513C400.738 174.375 400.88 175.234 401.191 176.015C401.98 177.705 403.871 178.089 405.508 178.248C415.07 179.17 424.69 178.826 434.186 177.223C434.702 177.181 435.201 176.999 435.646 176.691C436.996 175.581 436.164 172.875 434.69 172.008C433.215 171.142 431.466 171.351 429.848 170.976C428.241 170.501 426.711 169.723 425.317 168.671C422.037 166.46 418.804 164.155 415.619 161.756C413.723 160.327 411.485 158.803 409.35 159.65C403.565 161.945 400.739 166.194 400.777 173.513Z" fill="#3F3D56"/>
                <g id="hair">
                    <path id="Vector_15" d="M312.711 54.2548C317.545 54.2548 321.465 49.6575 321.465 43.9865C321.465 38.3155 317.545 33.7182 312.711 33.7182C307.876 33.7182 303.957 38.3155 303.957 43.9865C303.957 49.6575 307.876 54.2548 312.711 54.2548Z" fill="#2F2E41"/>
                    <path id="Vector_16" d="M312.711 54.2548C317.545 54.2548 321.465 49.6575 321.465 43.9865C321.465 38.3155 317.545 33.7182 312.711 33.7182C307.876 33.7182 303.957 38.3155 303.957 43.9865C303.957 49.6575 307.876 54.2548 312.711 54.2548Z" fill="#2F2E41"/>
                    <path id="Vector_17" d="M334.061 104.093C347.622 104.093 358.615 87.3863 358.615 66.777C358.615 46.1677 347.622 29.4606 334.061 29.4606C320.501 29.4606 309.508 46.1677 309.508 66.777C309.508 87.3863 320.501 104.093 334.061 104.093Z" fill="#2F2E41"/>
                    <path id="Vector_18" d="M334.061 104.093C347.622 104.093 358.615 87.3863 358.615 66.777C358.615 46.1677 347.622 29.4606 334.061 29.4606C320.501 29.4606 309.508 46.1677 309.508 66.777C309.508 87.3863 320.501 104.093 334.061 104.093Z" fill="#2F2E41"/>
                    <path id="Vector_19" d="M344.954 53.4996C344.953 54.8154 344.73 56.118 344.3 57.3328C343.869 58.5477 343.238 59.6511 342.443 60.5799C342.156 60.918 341.847 61.2309 341.521 61.5162C340.047 62.819 338.253 63.5242 336.408 63.5252H326.165C323.901 63.5211 321.732 62.4635 320.132 60.5847C318.533 58.7059 317.635 56.1594 317.635 53.5044C317.635 50.8495 318.533 48.303 320.132 46.4242C321.732 44.5454 323.901 43.4878 326.165 43.4837H336.408C338.671 43.4906 340.84 44.5478 342.442 46.4243C344.043 48.3009 344.946 50.8444 344.954 53.4996Z" fill="#2F2E41"/>
                    <path id="Vector_20" d="M344.954 53.4996C344.953 54.8154 344.73 56.118 344.3 57.3328C343.869 58.5477 343.238 59.6511 342.443 60.5799C342.156 60.918 341.847 61.2309 341.521 61.5162C340.047 62.819 338.253 63.5242 336.408 63.5252H326.165C323.901 63.5211 321.732 62.4635 320.132 60.5847C318.533 58.7059 317.635 56.1594 317.635 53.5044C317.635 50.8495 318.533 48.303 320.132 46.4242C321.732 44.5454 323.901 43.4878 326.165 43.4837H336.408C338.671 43.4906 340.84 44.5478 342.442 46.4243C344.043 48.3009 344.946 50.8444 344.954 53.4996Z" fill="#2F2E41"/>
                    <path id="Vector_21" d="M354.558 54.2548C359.393 54.2548 363.312 49.6575 363.312 43.9865C363.312 38.3155 359.393 33.7182 354.558 33.7182C349.723 33.7182 345.804 38.3155 345.804 43.9865C345.804 49.6575 349.723 54.2548 354.558 54.2548Z" fill="#2F2E41"/>
                    <path id="Vector_22" d="M354.558 54.2548C359.393 54.2548 363.312 49.6575 363.312 43.9865C363.312 38.3155 359.393 33.7182 354.558 33.7182C349.723 33.7182 345.804 38.3155 345.804 43.9865C345.804 49.6575 349.723 54.2548 354.558 54.2548Z" fill="#2F2E41"/>
                    <path id="Vector_23" opacity="0.1" d="M354.344 33.7182C354.237 33.7182 354.131 33.7232 354.024 33.7277C356.289 33.8243 358.433 34.9474 360.006 36.8607C361.579 38.774 362.458 41.3284 362.458 43.9865C362.458 46.6445 361.579 49.1989 360.006 51.1122C358.433 53.0256 356.289 54.1487 354.024 54.2452C354.131 54.2497 354.237 54.2547 354.344 54.2547C356.666 54.2547 358.893 53.1729 360.534 51.2472C362.176 49.3216 363.098 46.7098 363.098 43.9865C363.098 41.2632 362.176 38.6514 360.534 36.7257C358.893 34.8 356.666 33.7182 354.344 33.7182Z" fill="black"/>
                    <path id="Vector_24" opacity="0.1" d="M354.344 33.7182C354.237 33.7182 354.131 33.7232 354.024 33.7277C356.289 33.8243 358.433 34.9474 360.006 36.8607C361.579 38.774 362.458 41.3284 362.458 43.9865C362.458 46.6445 361.579 49.1989 360.006 51.1122C358.433 53.0256 356.289 54.1487 354.024 54.2452C354.131 54.2497 354.237 54.2547 354.344 54.2547C356.666 54.2547 358.893 53.1729 360.534 51.2472C362.176 49.3216 363.098 46.7098 363.098 43.9865C363.098 41.2632 362.176 38.6514 360.534 36.7257C358.893 34.8 356.666 33.7182 354.344 33.7182Z" fill="black"/>
                    <path id="Vector_25" opacity="0.1" d="M312.711 33.7182C312.818 33.7182 312.925 33.7232 313.031 33.7277C310.767 33.8243 308.622 34.9474 307.049 36.8607C305.476 38.774 304.598 41.3284 304.598 43.9865C304.598 46.6445 305.476 49.1989 307.049 51.1122C308.622 53.0256 310.767 54.1487 313.031 54.2452C312.925 54.2497 312.818 54.2547 312.711 54.2547C310.39 54.2523 308.166 53.1695 306.526 51.244C304.886 49.3186 303.965 46.7082 303.965 43.9865C303.965 41.2647 304.886 38.6543 306.526 36.7289C308.166 34.8035 310.39 33.7206 312.711 33.7182Z" fill="black"/>
                    <path id="Vector_26" opacity="0.1" d="M312.711 33.7182C312.818 33.7182 312.925 33.7232 313.031 33.7277C310.767 33.8243 308.622 34.9474 307.049 36.8607C305.476 38.774 304.598 41.3284 304.598 43.9865C304.598 46.6445 305.476 49.1989 307.049 51.1122C308.622 53.0256 310.767 54.1487 313.031 54.2452C312.925 54.2497 312.818 54.2547 312.711 54.2547C310.39 54.2523 308.166 53.1695 306.526 51.244C304.886 49.3186 303.965 46.7082 303.965 43.9865C303.965 41.2647 304.886 38.6543 306.526 36.7289C308.166 34.8035 310.39 33.7206 312.711 33.7182Z" fill="black"/>
                </g>
                <path id="Vector_27" d="M313.775 150.693C312.159 154.408 311.866 158.724 312.961 162.692C314.075 166.63 316.16 170.091 318.952 172.638C325.802 179.078 335.228 179.965 344.006 179.875C351.699 179.797 359.382 179.179 367.012 178.026C369.569 177.76 372.081 177.076 374.477 175.993C377.342 174.539 379.859 171.872 380.879 168.411C381.899 164.95 381.175 160.712 378.753 158.403C376.624 156.373 373.689 156.094 370.951 155.901L355.286 154.797C356.833 152.96 358.894 151.921 360.779 150.585C363.279 148.813 364.941 145.838 366.759 143.155C369.56 139.228 372.608 135.552 375.877 132.158C376.387 135.589 378.237 138.406 380.415 140.773C382.592 143.14 385.102 145.046 387.366 147.3C392.847 152.758 396.794 160.167 402.559 165.208C406.525 163.986 410.232 161.815 413.448 158.831L411.208 154.07C411.021 153.58 410.73 153.155 410.363 152.834C409.729 152.377 408.912 152.613 408.175 152.483C406.207 152.137 405.347 149.471 404.575 147.32C402.455 141.413 398.395 136.83 394.928 131.876C392.369 128.219 390.099 124.297 388.145 120.158C386.981 117.689 385.914 115.119 384.334 112.992C382.753 110.865 380.538 109.193 378.133 109.187C376.008 109.182 374.048 110.447 372.22 111.72C366.655 115.598 361.3 119.878 356.187 124.534C353.511 126.971 350.852 129.545 347.713 131.04C346.391 131.669 344.998 132.099 343.73 132.864C341.509 134.205 339.824 136.473 338.009 138.487C331.538 145.668 322.678 150.321 313.775 150.693Z" fill="#3F3D56"/>
                <path id="Vector_28" d="M346.531 99.5769C346.458 101.772 346.06 103.936 345.354 105.971C344.997 106.986 344.465 107.903 343.791 108.666C343.118 109.43 342.318 110.022 341.441 110.406C340.196 110.798 338.89 110.847 337.626 110.551C336.523 110.416 335.46 109.992 334.517 109.309C333.048 108.125 332.316 106.011 332.049 103.942C331.782 101.876 331.901 99.7647 331.731 97.6835C331.564 96.0025 331.292 94.3383 330.915 92.7046C330.8 92.1612 330.682 91.6202 330.567 91.0792C330.454 90.5383 330.343 89.9973 330.24 89.4564C330.146 88.948 330.059 88.437 329.984 87.9236C329.922 87.4904 329.867 87.0546 329.826 86.6163C329.789 85.317 329.604 84.0293 329.277 82.787C328.971 81.9813 328.587 81.2192 328.133 80.5155C327.939 80.1899 327.751 79.8643 327.578 79.5262C327.078 78.6475 326.845 77.5964 326.918 76.5434C326.939 76.3806 326.972 76.2204 327.019 76.065C327.036 76.0049 327.055 75.9449 327.076 75.8872C327.268 75.8261 327.445 75.7108 327.59 75.5515C327.736 75.3922 327.846 75.1936 327.911 74.9731C327.984 74.4993 327.95 74.0111 327.811 73.558C327.651 72.925 327.433 72.3144 327.159 71.7373C326.98 71.3566 326.372 70.6704 326.367 70.2346C326.359 69.358 327.819 68.6518 328.411 68.3062C330.216 67.2458 332.229 66.767 334.244 66.9187C335.535 67.0214 336.936 67.4872 337.649 68.757C338.29 69.9015 338.204 71.3841 338.477 72.714C338.506 72.9073 338.576 73.089 338.68 73.2425C338.82 73.3914 338.995 73.4859 339.182 73.5129C339.498 73.5867 339.822 73.602 340.143 73.558H340.145C340.23 73.5502 340.314 73.5359 340.397 73.5154C340.896 73.4075 341.367 73.1686 341.776 72.8167C342.041 72.734 342.308 72.6664 342.577 72.6138C342.588 72.6125 342.598 72.61 342.609 72.6063C343.678 76.5659 343.817 80.8109 344.693 84.8431C345.126 86.8492 345.747 88.8302 345.835 90.8939C345.841 90.984 345.843 91.0767 345.846 91.1693C345.858 91.833 345.814 92.5017 345.837 93.1629C345.845 93.4606 345.874 93.7571 345.922 94.0495C346.018 94.5197 346.137 94.983 346.279 95.4369L346.285 95.4595C346.326 95.6047 346.364 95.7525 346.396 95.9003C346.42 96.008 346.441 96.1132 346.458 96.2208L346.46 96.2283C346.619 97.335 346.642 98.4624 346.531 99.5769Z" fill="#FBBEBE"/>
                <path id="Vector_29" d="M333.982 73.3454C340.939 73.3454 346.579 66.7298 346.579 58.5691C346.579 50.4084 340.939 43.7928 333.982 43.7928C327.025 43.7928 321.385 50.4084 321.385 58.5691C321.385 66.7298 327.025 73.3454 333.982 73.3454Z" fill="#FBBEBE"/>
                <path id="Vector_30" d="M411.522 139.413C411.157 135.381 409.935 131.522 407.969 128.188C408.296 130.467 408.623 132.745 408.952 135.022C408.544 135.161 408.11 135.157 407.704 135.01C407.299 134.864 406.938 134.582 406.667 134.199C406.137 133.422 405.731 132.538 405.469 131.591C404.038 127.424 402.167 123.484 399.899 119.863C391.88 119.079 383.952 115.18 376.9 110.634C369.846 106.091 363.244 100.644 356.284 95.9079C355.077 95.0523 353.82 94.299 352.522 93.6538C350.344 92.6295 347.899 92.0986 345.835 90.8939C345.696 90.8138 345.557 90.7286 345.421 90.641C344.954 90.3434 344.512 89.9955 344.101 89.6016C343.879 89.3899 343.668 89.1624 343.469 88.9204C342.439 87.5146 341.622 85.9119 341.054 84.182C339.946 81.3069 339.551 77.8382 338.445 74.9631C338.954 74.4058 339.525 73.9331 340.143 73.5581H340.145C340.235 73.503 340.324 73.4504 340.416 73.4003C340.854 73.1585 341.309 72.9632 341.776 72.8167C342.041 72.7341 342.308 72.6665 342.577 72.6139C342.588 72.6126 342.598 72.6101 342.609 72.6064C343.856 72.3679 345.134 72.4865 346.334 72.952C348.089 73.6482 349.569 75.0382 351.044 76.353C353.441 78.3337 355.74 80.4727 357.93 82.7594C359.147 84.1268 360.257 85.6295 361.566 86.8718C362.654 87.8564 363.8 88.7478 364.997 89.539C372.079 94.4878 379.162 99.4358 386.245 104.383C388.643 106.058 391.043 107.734 393.387 109.507C396.948 112.202 400.381 115.122 403.812 118.04C405.834 119.758 407.856 121.477 409.876 123.196C410.539 123.692 411.121 124.323 411.595 125.06C412.013 125.896 412.273 126.828 412.357 127.792C412.864 131.689 412.578 135.671 411.522 139.413Z" fill="#FBBEBE"/>
                <path id="Vector_31" d="M349.654 110.689C348.805 115.16 344.953 117.862 342.94 121.789C340.437 126.663 341.458 132.328 342.397 137.91C340.681 139.646 338.964 141.381 337.246 143.117C336.298 144.071 335.35 145.03 334.329 145.874C332.841 147.044 331.286 148.092 329.675 149.01C328.154 149.927 326.634 150.844 325.114 151.762C323.701 152.694 322.204 153.439 320.65 153.981C317.654 154.883 314.473 154.252 311.51 153.207C311.16 153.1 310.824 152.939 310.51 152.729C310.325 152.6 310.164 152.429 310.036 152.226C309.744 151.611 309.638 150.899 309.735 150.204C310.036 144.354 311.255 138.626 312.47 132.941C313.12 129.531 313.993 126.184 315.081 122.931C316.149 120.144 317.377 117.444 318.756 114.852C320.278 111.589 322.081 108.519 324.136 105.688C325.137 104.598 325.979 103.324 326.63 101.916C327.388 99.8874 327.095 97.5608 327.249 95.3518C327.367 93.6922 327.742 92.0719 328.357 90.5708V90.5683C328.686 89.7598 329.082 88.9914 329.54 88.2743C329.747 88.8403 329.954 89.4054 330.161 89.9698C330.298 90.3404 330.433 90.7103 330.567 91.0793C330.742 91.5551 330.916 92.0293 331.088 92.5018C331.585 93.8592 332.082 95.2158 332.578 96.5716C333.114 98.2791 333.878 99.876 334.841 101.302C335.282 102.033 335.876 102.617 336.566 102.998C337.256 103.378 338.019 103.542 338.779 103.474C339.54 103.405 340.272 103.107 340.905 102.607C341.537 102.108 342.049 101.424 342.389 100.624C343.107 99.1293 343.626 97.5155 343.93 95.8378C344.352 93.7949 344.41 91.6721 344.101 89.6017C343.587 85.6146 342.141 81.5423 341.091 77.8382C340.663 76.6032 340.416 75.2926 340.358 73.9613C340.361 73.8117 340.373 73.6626 340.397 73.5155C340.403 73.4779 340.41 73.4379 340.416 73.4003C340.854 73.1586 341.309 72.9633 341.776 72.8168C342.041 72.7341 342.308 72.6665 342.577 72.6139C343.501 78.4844 344.427 84.3548 345.354 90.2253C345.376 90.363 345.399 90.5007 345.421 90.641C345.553 91.4825 345.688 92.324 345.837 93.163C345.972 93.9243 346.117 94.6832 346.279 95.437L346.285 95.4596C346.341 95.7151 346.399 95.968 346.458 96.2209L346.46 96.2284C346.625 96.9197 346.808 97.6059 347.016 98.2821C348.271 102.357 350.459 106.459 349.654 110.689Z" fill="#6C63FF"/>
                <path id="Vector_32" d="M330.289 89.1433V89.1458C330.275 89.251 330.26 89.3537 330.24 89.4564C330.217 89.6267 330.189 89.7995 330.161 89.9697C329.897 91.5601 329.572 93.1429 329.198 94.7157C328.174 99.0609 326.801 103.336 325.439 107.549C321.783 118.844 318.127 130.14 314.471 141.436C313.548 144.281 312.628 147.129 311.58 149.916C311.23 150.846 310.869 151.782 310.51 152.729C309.225 156.117 307.991 159.616 307.581 163.223C307.199 165.596 307.155 168.028 307.451 170.418C307.861 172.782 309.084 175.091 310.999 175.965C311.934 176.394 313.273 176.967 313.017 178.107C312.878 178.733 312.272 179.038 311.727 179.143C311.008 179.278 310.273 179.225 309.573 178.989C308.874 178.752 308.227 178.338 307.679 177.776C306.656 176.712 305.871 175.056 304.511 174.878C303.569 174.758 302.702 175.419 301.84 175.883C298.321 177.769 294.222 176.449 290.526 175.109C290.816 173.353 292.32 172.196 293.812 171.845C295.304 171.492 296.848 171.743 298.37 171.695C298.858 171.726 299.341 171.58 299.756 171.277C300.127 170.877 300.388 170.355 300.503 169.779C301.484 166.371 302.213 162.87 302.683 159.316C303.174 155.602 303.379 151.83 304.079 148.161C304.624 145.298 305.465 142.526 306.187 139.716C307.582 133.93 308.728 128.066 309.62 122.145C310.071 119.685 310.394 117.195 310.587 114.689C310.709 112.61 310.651 110.521 310.822 108.45C311.109 105.756 311.588 103.094 312.255 100.493C312.908 97.6559 313.56 94.8201 314.212 91.9858C315.18 87.7909 316.217 83.4331 318.668 80.1723C319.52 79.0244 320.563 78.0937 321.733 77.438C322.904 76.7824 324.177 76.4156 325.473 76.3605C325.959 76.3598 326.443 76.4211 326.918 76.5434C326.997 76.5659 327.076 76.5884 327.155 76.6135C327.672 76.7721 328.169 77.0131 328.631 77.3298C329.386 76.7663 329.771 76.9641 330.272 77.8332C330.712 78.7529 330.92 79.8006 330.87 80.8535C330.912 83.6326 330.718 86.4096 330.289 89.1433Z" fill="#FBBEBE"/>
                <path id="Vector_33" d="M331.12 92.4642L331.088 92.5018L330.915 92.7047L329.198 94.7158L328.357 90.5709L325.473 76.3605C325.959 76.3599 326.443 76.4212 326.918 76.5434C326.939 76.3806 326.972 76.2204 327.019 76.065L327.155 76.6135L328.133 80.5154L329.984 87.9236L330.289 89.1433V89.1458L331.12 92.4642Z" fill="#6C63FF"/>
                <g id="Vector_34">
                    <path d="M349.473 43.7928C347.163 55.1526 344.35 61.3011 341.458 61.3099H325.403C322.511 61.3011 319.697 55.1526 317.388 43.7928H349.473Z" fill="#2F2E41"/>
                    <path d="M349.473 43.7928C347.163 55.1526 344.35 61.3011 341.458 61.3099H325.403C322.511 61.3011 319.697 55.1526 317.388 43.7928H349.473Z" fill="url(#paint0_linear)"/>
                </g>
                <path id="Vector_35" d="M404.725 129.549C404.725 129.549 406.932 137.009 408.952 135.022L407.342 125.273L404.725 129.549Z" fill="#FBBEBE"/>
            </g>
        </g>
        <defs>
            <filter id="filter0_d" x="0" y="0" width="737" height="473" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"/>
                <feOffset dy="4"/>
                <feGaussianBlur stdDeviation="2"/>
                <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"/>
                <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow"/>
                <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow" result="shape"/>
            </filter>
            <linearGradient id="paint0_linear" x1="333.43" y1="43.7928" x2="333.43" y2="61.3099" gradientUnits="userSpaceOnUse">
                <stop stop-color="#2F2E41"/>
                <stop offset="0.0001" stop-color="#2D2D2E" stop-opacity="0"/>
            </linearGradient>
        </defs>
    </svg>

</div>
<h1 class="gradient-text" id="hair">PAGE NOT FOUND</h1>
</body>

</html>