<nav class="sidebar-nav">
    <div class="nav-container">
        <div class="nav-header"><button class="nav-close"><i class="icofont-close"></i></button>
            <a class="nav-logo text-20" href="/"><b>BRIDALKANDY</b></a>
            <ul class="nav nav-tabs">
                <li><a href="#menu-list" class="nav-link active" data-toggle="tab">My Menu</a></li>
                <li><a href="#cate-list" class="nav-link" data-toggle="tab">My Product</a></li>
            </ul>
        </div>
        <div class="nav-content">
            <div class="tab-pane active" id="menu-list">
                <div class="nav-profile">
                    <a href="/user/my-profile"><img src="../images/user.png" class="userImage" alt="user"></a>
                    <h4><a href="/user/my-profile" class="fullName">Guest user</a></h4>
                </div>
                <ul class="nav-list">
                    <li class="select-option"><img class="img" src="../images/language/english.png" alt="language"><span class="ms-5 text">English</span>
                    </li>

                    <li><a class="nav-link" href="/"><i class="icofont-ui-home"></i><span>home</span></a></li>
                    <!--
                     <li>
                         <a class="nav-link" href="offer.html">
                             < <i class="icofont-sale-discount"></i><span>offers</span></a></li> -->
                    <!-- <li><a class="nav-link" href="brand.html"><i class="icofont-shield"></i><span>brands</span></a></li> -->
                    <!-- <li><a class="nav-link" href="brand-profile.html"><i class="icofont-crown"></i><span>brand profile</span></a></li> -->
                    <li><a class="nav-link" href="/user/my-profile"><i class="icofont-ui-user"></i><span>my profile</span></a></li>
                    <li><a class="nav-link" href="/user/my-wishlist"><i class="icofont-ui-love"></i><span>wishlist</span></a></li>
                    <li><a class="nav-link" href="checkout.html"><i class="icofont-ui-check"></i><span>checkout</span></a></li>
                    <li><a class="nav-link" href="/user/my-orders"><i class="icofont-basket"></i><span>My order</span></a></li>
                    <!-- <li><a class="nav-link" href="invoice.html"><i class="icofont-page"></i><span>order invoice</span></a></li> -->
                    <li><a class="nav-link" href="/support"><i class="icofont-question-circle"></i><span>need help</span></a></li>
                    <li><a class="nav-link" href="/contact-us"><i class="icofont-contacts"></i><span>contact us</span></a></li>
                    <li><a class="nav-link" href="/user/login"><i class="icofont-ui-lock"></i><span id="login">Login</span></a></li>
                </ul>
            </div>


            <div class="tab-pane" id="cate-list">
                <!-- <ul class="cate-list"> -->
                <ul class="nav-list">


                    <li><a class="nav-link" href="/"><i class="icofont-eye-alt"></i><span>View Product</span></a></li>

                    <li><a class="nav-link" href="/user/my-profile"><i class="fas fa-cloud-upload-alt"></i><span> Upload Product</span></a></li>

                    <!--                     
                    <li><a class="nav-link" href="/user/login"><i class="icofont-ui-lock"></i><span id="login">Login</span></a></li> -->
                </ul>
                <!-- </ul> -->
            </div>
            <div class="nav-footer px-3">
                <p class="mb-0">Bridal Kandel | &COPY; Copyright all rights reserved.</p>
                <p class="mt-0">built by <a href="#">Remilekun Elijah</a></p>
            </div>
        </div>
    </div>
</nav>